*.swp
coverage
node_modules
browser/tests.js
docs/api

CONTRIBUTING.html
LICENSE.html
README.html
examples.html
npm-debug.log

apiref
bower_components
report
.DS_Store


btc.js
btc.min.js
btc.js.sig
btc.min.js.sig
tests.js

.tern-port